.header {
	color: olive;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: 25px;
}

p {
	width: 100%;
	margin: auto;
	text-align: center;
	color:black;
	padding-bottom: 8px;
}

h3 {
	width: 100%;
	margin: auto;
	text-align: center;
	color: black;
}


.center {
	width: 100%;
	margin: auto;
	text-align: center;
	color: olive;
}
table, tr, th{
	alignment: center;
	border: solid 2px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: seashell;
}